waste_management/__pycache__
waste_management/**/__pycache__
waste_management/**/*.pyc
waste_management/**/*.pyo
waste_management/**/*.pyd
waste_management/.Python
waste_management/env/
waste_management/venv/
waste_management/.env
waste_management/.git
waste_management/.gitignore
waste_management/.vscode
waste_management/.idea
waste_management/*.sqlite3
waste_management/db.sqlite3
waste_management/media/
waste_management/staticfiles/
waste_management/**/*.log
waste_management/.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.git
.gitignore
.vscode
.idea
*.sqlite3
db.sqlite3
*.log
.DS_Store
nixpacks.toml
Procfile